#no-mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--deep-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 0;
  font-size: 40px;
  font-weight: 600;
}

#no-mobile > span {
  color: white;
  opacity: 0;
  padding: 10px 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

#no-mobile > span:first-child {
  animation: typing 0.5s steps(6, end) forwards,
    blink-caret 0.75s step-end infinite, none_border 0.5s linear forwards;
  animation-delay: 0s;
}
#no-mobile > span:nth-child(2) {
  animation: typing_second 2s steps(22, end) forwards,
    blink-caret 0.2s step-end infinite, none_border 2s linear forwards;
  animation-delay: 0.8s;
}
#no-mobile > span:last-child {
  animation: typing_last 0.7s steps(7, end) forwards,
    blink-caret 0.75s step-end infinite;
  animation-delay: 3.1s;
}

#no-mobile > span:first-child,
#no-mobile > span:last-child {
  color: #e55039;
}

#no-mobile span span {
  color: #7ed6df;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 170px;
    opacity: 1;
  }
}
@keyframes typing_second {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 580px;
    opacity: 1;
  }
}
@keyframes typing_last {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 188px;
    opacity: 1;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes none_border {
  99% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}
