.chat-screen {
  height: 300vh;
}

.chat-screen .status-bar {
  position: fixed;
  width: 100%;
}
.chat-screen .alt-header {
  position: fixed;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn-left {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn-right {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.4s linear;
}
.main-chat__cos {
  height: 100vh;
}

.main-chat__Chats {
  height: 90vh;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.chat__timestamp2 {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
  animation-delay: 5s;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  animation: fadeIn-left 0.4s linear forwards;
  animation-delay: 1s;
}
.message-row2 {
  animation-delay: 3.5s;
}

.message-row__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.6;
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  font-size: 20px;
  background-color: white;
  padding: 10px 11px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 7px;
}

.message__time {
  opacity: 0.6;
  font-size: 12px;
}
.message__check {
  color: gray;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
.message-row--own .message__check {
  margin-left: 0;
  margin-right: 5px;
}

.message-row--own {
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn-right 0.4s linear forwards;
  animation-delay: 2s;
}
.message-row--own2 {
  animation-delay: 2.5s;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 7px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.send-img {
  width: 250px;
  height: 190px;
  margin-left: 7px;
}

.send-img2 {
  width: 250px;
  height: 250px;
  margin-left: 7px;
}

.send-img3 {
  width: 263px;
  height: 144px;
  margin-left: 7px;
}

.send-img4 {
  width: 250px;
  height: 340;
  margin-left: 7px;
}

.reply {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
  font-size: 32px;
}
.reply__column button i {
  opacity: 1;
  font-size: 24px;
}

.reply input {
  height: 45px;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  top: 3px;
  right: 3.7px;
}

.reply__column:last-child > i {
  top: 8px;
  right: 58px;
  font-size: 30px;
}

.reply__column button {
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 50%;
  background-color: var(--yellow);
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacitiy 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

.chat-delay1 {
  animation-delay: 1s;
}
.chat-delay1-5 {
  animation-delay: 1.5s;
}
.chat-delay2 {
  animation-delay: 2s;
}
.chat-delay2-5 {
  animation-delay: 2.5s;
}
.chat-delay3 {
  animation-delay: 3s;
}
.chat-delay3-5 {
  animation-delay: 3.5s;
}
.chat-delay4 {
  animation-delay: 4s;
}
.chat-delay4-5 {
  animation-delay: 4.5s;
}
.chat-delay5 {
  animation-delay: 5s;
}
.chat-delay5-5 {
  animation-delay: 5.5s;
}
.chat-delay6 {
  animation-delay: 6s;
}
.chat-delay6-5 {
  animation-delay: 6.5s;
}
.chat-delay7 {
  animation-delay: 7s;
}
.chat-delay7-5 {
  animation-delay: 7.5s;
}
.chat-delay8 {
  animation-delay: 8s;
}
.chat-delay8-5 {
  animation-delay: 8.5s;
}
