.back1 {
  background-image: url("https://github.com/junghyuntaek/kokoa-clone-2021/blob/experimental/images/jjang/back1.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-position-y: 30px;
  background-attachment: fixed;
}

.back2 {
  background-image: (
    "https://github.com/junghyuntaek/kokoa-clone-2021/blob/experimental/images/jjang/back2.png?raw=true"
  );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-position-y: 30px;
  background-attachment: fixed;
}

.back3 {
  background-image: url("https://github.com/junghyuntaek/kokoa-clone-2021/blob/experimental/images/jjang/back3.png?raw=true");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center center;
  background-attachment: fixed;
}

.back4 {
  background-image: url("https://github.com/orifond/kokoa-clone-2021/blob/main/img/bg/bibi.png?raw=true");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-position-y: 100px;
  background-attachment: fixed;
}

.back4-settings {
  background-position-y: 70px;
}
